@import "~bootstrap/dist/css/bootstrap.min.css";

html {
    font-size: 14px;
    overflow-x: hidden;
  }
  
  
html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
